@model ABMCloud.Models.VacationViewModel


<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Substitutional S.N.P</th>
                <th class="col-md-2">Start Date</th>
                <th class="col-md-2">End date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.VacationsModel.VacationsList)
            {
                <tr class="clickable-row">
                    <td class="col-md-2">
                        @Html.ActionLink(item.Substitutional.Surname + " " + item.Substitutional.Name + " " + item.Substitutional.Patronymic, "EmployeeDetails", "Employee", new { id = item.Substitutional.Id }, null)
                    </td>
                    <td class="col-md-2">@item.StartDate</td>
                    <td class="col-md-2">@item.EndDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>