@using ABMCloud;
<div class="container body-content">
    <form class="form-horizontal" method="post">

        @if (TempData[Alerts.SUCCESS] != null && (TempData[Alerts.ERROR] == null))
        {
            <br />
            <div class="alert alert-success" id="divSuccess">
                <span><strong>Success!</strong> @TempData[Alerts.SUCCESS]</span>
            </div>
        }
        @if (TempData[Alerts.ERROR] != null)
        {
            <br />
            <div class="alert alert-danger" id="divError">
                <span><strong>Error!</strong> @TempData[Alerts.ERROR]</span>
            </div>
        }

        @if (TempData[Alerts.ATTENTION] != null)
        {
            <br />
            <div class="alert alert-warning" id="divWarning">
                <span><strong>Warning!</strong> @TempData[Alerts.ATTENTION]</span>
            </div>
        }

        @if (TempData[Alerts.INFORMATION] != null)
        {
            <br />
            <div class="notification" id="divInfo">
                <span><strong>Info!</strong> @TempData[Alerts.INFORMATION]</span>
            </div>
        }

    </form>
</div>