@{
    ViewBag.Title = "Ошибка";
}

<head>
    <title>@ViewBag.Title</title>
</head>
<div class="container body-content">
    <div class="detailed-view">
        <h1>@ViewBag.Title</h1>
        <p>Возникла непредвиденная ошибка</p>
    </div>
</div>
